body{
	padding-top: 20px;
	padding-bottom: 55px;
	background-image:url("image/36223.PNG");

}
.main{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width:100%;
}
.card{
	width:24%;
	margin-top: 65px;
}
.card img{
	width: 100%;
}
.card .name{
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
}
.card .discription{
	text-align: center;
	margin-top: 4px;
}
.card .discription .price{
	text-decoration: underline;
	margin-bottom: 8px;
}
