body{
	padding-bottom: 55px;
	background-image:url("image/36223.PNG");
}
header{
	background-color:#bdb76b;
}
header img{
	display:block;
	margin:auto;
	width:40%;
}
.main{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width:100%;
	color:#333333;
}
.card{
	width:24%;
	margin-top: 65px;
}
.card img{
	width: 100%;
}
.card .name{
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
}
.card .discription{
	text-align: center;
	margin-top: 4px;
}
.card .discription .price{
	text-decoration: underline;
	margin-bottom: 8px;
}
.note{
	font-size:20px;
	margin-top:30px;
	color:#333333;
}
